In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df = pd.read_csv("train.csv")

In [12]:
len(df.columns)

4297

In [14]:
ranges = (df.columns[1:200], df.columns[200:2248], df.columns[2248:4296])

In [70]:
df.iloc[:,3:5]

           Chi0      Chi0n
0     14.154336   8.985436
1     14.233840  11.695437
2     15.440947  12.574323
3     12.819626  10.549759
4     15.252866  12.594869
...         ...        ...
9410  14.330216  12.462016
9411  18.760938  16.530170
9412  18.053831  15.419593
9413  14.330216  12.331880
9414  18.053831  15.419593

[9415 rows x 2 columns]

In [ ]:
def knn(k, r):
	X = df[r][:,:-1].values
	y = df.iloc[:,-1].values

	X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

	knn_model = KNeighborsClassifier(n_neighbors=k)
	knn_model.fit(X_train, y_train)

	y_pred = knn_model.predict(X_test)

	acc = accuracy_score(y_test, y_pred)
	print (f"Précision: {acc:.2f}")
	print ("Rapport de classification:")
	print (classification_report(y_test, y_pred))

knn(5, ranges[1])

Précision: 0.78
Rapport de classification:
              precision    recall  f1-score   support

           0       0.78      0.77      0.77       925
           1       0.78      0.78      0.78       958

    accuracy                           0.78      1883
   macro avg       0.78      0.78      0.78      1883
weighted avg       0.78      0.78      0.78      1883

Index(['BalabanJ', 'BertzCT', 'Chi0', 'Chi0n', 'Chi0v', 'Chi1', 'Chi1n',
       'Chi1v', 'Chi2n', 'Chi2v',
       ...
       'fr_sulfonamd', 'fr_sulfone', 'fr_term_acetylene', 'fr_tetrazole',
       'fr_thiazole', 'fr_thiocyan', 'fr_thiophene', 'fr_unbrch_alkane',
       'fr_urea', 'qed'],
      dtype='object', length=2247)

In [72]:
def kappa_cohen(a, b, c, d):
	tot = a + b + c + d
	p_acc = (a + d) / tot
	p_has = ((a + b) * (a + c) + (c + d) * (b + d)) / tot**2
	return (p_acc - p_has) / (1 - p_has)

In [138]:
kappa_cohen(408,74,91,369)

0.6491944766693901

In [137]:
kappa_cohen(385, 97, 99, 361)

0.5835957022616354

In [107]:
from sklearn.feature_selection import VarianceThreshold

X_base = df.iloc[:, 1:-1]
y = df.iloc[:, -1]

In [108]:
X_base.head()

,BalabanJ,BertzCT,Chi0,Chi0n,Chi0v,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,...,fcfc_2038,fcfc_2039,fcfc_2040,fcfc_2041,fcfc_2042,fcfc_2043,fcfc_2044,fcfc_2045,fcfc_2046,fcfc_2047
0,2.415403,585.102114,14.154336,8.985436,18.501415,8.879918,4.851543,9.609532,3.495540,8.621561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.756595,776.517592,14.233840,11.695437,13.281434,10.309663,7.426852,8.219850,5.662312,6.577987,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.393870,796.361052,15.440947,12.574323,14.160319,11.233913,7.945929,8.738927,6.525386,7.337863,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.724265,605.709066,12.819626,10.549759,12.135755,9.292826,6.705489,7.498487,5.237927,6.153603,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.684628,597.045968,15.252866,12.594869,14.180866,10.784424,7.719435,8.512433,5.900562,6.816237,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: class, dtype: int64

In [118]:
cols = X_base.columns
X = X_base.copy()
for i in range(199):
	X.iloc[:,i] = (X.iloc[:,i] - X.iloc[:,i].mean()) / X.iloc[:,i].std()

X.iloc[:, 199:2247] = (X.iloc[:, 199:2247] - X.iloc[:, 199:2247].mean()) / X.iloc[:, 199:2247].std()
X.iloc[:, 2247:] = (X.iloc[:, 2247:] - X.iloc[:, 2247:].mean()) / X.iloc[:, 2247:].std()

X.head()

,BalabanJ,BertzCT,Chi0,Chi0n,Chi0v,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,...,fcfc_2038,fcfc_2039,fcfc_2040,fcfc_2041,fcfc_2042,fcfc_2043,fcfc_2044,fcfc_2045,fcfc_2046,fcfc_2047
0,2.634708,-1.673145,-1.846217,-2.527240,0.118485,-2.148395,-2.666877,-0.626373,-2.526061,-0.029818,...,-0.043764,-0.789093,-1.134607,-0.37146,-0.084655,-0.053626,-0.482415,-0.148047,-0.030931,-0.089001
1,0.694814,-1.027519,-1.827273,-1.733246,-1.406570,-1.646718,-1.456830,-1.257676,-1.351612,-1.072314,...,-0.043764,-0.789093,-1.134607,-0.37146,-0.084655,-0.053626,-0.482415,-0.148047,-0.030931,-0.089001
2,-0.373251,-0.960588,-1.539634,-1.475745,-1.149797,-1.322411,-1.212934,-1.021871,-0.883803,-0.684676,...,-0.043764,-0.789093,-1.134607,-0.37146,-0.084655,-0.053626,-0.482415,-0.148047,-0.030931,-0.089001
3,0.599617,-1.603640,-2.164262,-2.068914,-1.741288,-2.003512,-1.795773,-1.585376,-1.581640,-1.288807,...,-0.043764,0.213648,-1.134607,-0.37146,-0.084655,-0.053626,-0.482415,-0.148047,-0.030931,-0.089001
4,0.482903,-1.632860,-1.584451,-1.469725,-1.143794,-1.480131,-1.319355,-1.124762,-1.222474,-0.950775,...,-0.043764,1.216390,-1.134607,-0.37146,-0.084655,-0.053626,-0.482415,-0.148047,-0.030931,-0.089001

In [128]:
from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold(threshold=0.01)  # Supprime les features avec une variance < 0.01
reduced_X = selector.fit_transform(X)
reduced_Xb = selector.fit_transform(X_base)

c:\Users\pablo\anaconda3\lib\site-packages\sklearn\feature_selection\_variance_threshold.py:77: RuntimeWarning: Degrees of freedom <= 0 for slice.
  self.variances_ = np.nanvar(X, axis=0)

In [131]:
print (reduced_X.shape)
print (X.shape)
print (reduced_Xb.shape)

(9415, 4262)
(9415, 4295)
(9415, 2000)

In [132]:
from sklearn.decomposition import PCA

n_col = 200

pca = PCA(n_components=n_col)
reduced_data = pca.fit_transform(reduced_X)

In [133]:
reduced_df = pd.DataFrame(reduced_data, columns = [f'Component_{i+1}' for i in range(n_col)])
reduced_df['class'] = y

In [134]:
reduced_df

,Component_1,Component_2,Component_3,Component_4,Component_5,Component_6,Component_7,Component_8,Component_9,Component_10,...,Component_192,Component_193,Component_194,Component_195,Component_196,Component_197,Component_198,Component_199,Component_200,class
0,-9.618733,-1.065524,-0.248787,-1.922334,0.702223,-7.117881,-0.705879,-2.010890,-4.874962,1.691318,...,1.968606,1.673321,-1.712922,-0.637762,-1.789846,3.489251,2.484134,-1.038122,1.675346,0
1,-11.570947,-2.454925,3.420124,0.416214,3.775185,2.549534,10.529114,-1.870039,-5.335646,4.255353,...,0.103866,-0.578832,1.361572,0.698761,0.393550,1.475683,0.169520,-0.744461,2.398426,0
2,-3.469106,-1.211114,3.099848,-6.013385,-0.924163,4.491624,-0.494615,-0.857792,0.931276,-1.176913,...,0.357098,5.604298,1.528711,-3.538630,-1.285763,2.171587,0.405769,-0.453816,0.218151,1
3,-7.243965,-1.554882,3.769718,-6.461787,1.065889,5.466737,-1.455230,-1.581715,0.975790,-2.324102,...,-1.603410,1.700569,0.091337,0.238172,-2.291026,2.426833,-1.445356,-0.099262,-0.241085,1
4,-8.122817,-3.166513,0.651633,-5.109182,2.376319,-2.139481,3.298626,0.202715,0.206172,-2.071331,...,-1.046626,-2.059492,-2.330371,1.213540,-1.158043,1.235543,2.944816,-0.448204,-0.494733,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9410,-9.379094,1.856469,2.387152,-4.672820,4.799119,-0.712502,-1.337406,-0.033502,0.250795,-0.984931,...,0.894357,-1.443385,-0.119874,-0.204761,0.988066,0.386087,0.874188,-1.156153,1.452897,1
9411,-1.394716,-1.820242,0.792433,-3.882169,1.025906,12.805242,3.954187,-1.975422,-2.182690,-2.450433,...,0.531189,1.688964,-1.374877,0.641878,-1.187570,-0.356488,2.020532,0.612130,-0.428841,0
9412,-4.036306,0.829519,5.351726,-3.002401,1.497000,7.506528,0.575687,-3.374439,4.009115,-7.055079,...,0.539541,-2.524791,-0.642258,0.125882,1.120376,-1.028278,-1.735349,-1.811440,-4.222426,1
9413,-8.516580,1.506062,2.970262,-5.828065,3.873597,-0.952587,-2.295828,-1.174899,0.902584,-0.094495,...,0.332486,-0.968200,0.441379,0.289051,0.264772,-1.298509,0.435023,-0.208329,0.824903,1
9414,-4.372511,1.183584,4.474746,-2.128638,1.338611,8.185377,0.080178,-3.083634,4.385423,-7.797478,...,-1.524963,1.529360,-0.387868,2.192083,0.428864,-0.715872,-0.727306,-2.978915,-0.667545,0

In [135]:
reduced_df.to_csv("train_reduced_normalized.csv")

In [140]:
pd.read_csv("test_2_cluster.csv").head()

,smiles,BalabanJ,BertzCT,Chi0,Chi0n,Chi0v,Chi1,Chi1n,Chi1v,Chi2n,...,fcfc_2044,fcfc_2045,fcfc_2046,fcfc_2047,series_0,series_1,series_2,series_3,series_4,series_5
0,C#CC1(O)CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F...,1.274241,1044.239175,23.095647,17.744845,17.744845,15.076449,10.592350,10.592350,8.680891,...,0.0,0.0,0.0,0.0,False,False,False,True,False,False
1,C#CC1CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F)cc...,1.279982,994.965634,22.172998,17.374982,17.374982,14.740533,10.516808,10.516808,8.445909,...,0.0,0.0,0.0,0.0,False,False,False,True,False,False
2,C=CCOC1CCC(N2CC(NC(=O)CNc3n[nH]c4ccc(C(F)(F)F)...,1.202791,946.679638,22.716968,17.750230,17.750230,15.329850,10.883118,10.883118,8.454771,...,0.0,0.0,0.0,0.0,False,False,False,True,False,False
3,C=CCOC1CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F)...,1.232374,991.878695,23.587211,18.697444,18.697444,15.740533,11.280332,11.280332,8.826336,...,0.0,0.0,0.0,0.0,False,False,False,True,False,False
4,C=CCOCC1CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F...,1.209470,1007.937456,24.294318,19.404550,19.404550,16.240533,11.741553,11.741553,9.274477,...,0.0,0.0,0.0,0.0,False,False,False,True,False,False

In [182]:
df1 = pd.read_csv("../submission 5/pred_1.csv")
df2 = pd.read_csv("../submission 2/pred_1.csv")

diff = 0
for i in range(len(df1)):
	if df1.iloc[i][1] != df2.loc[df2["smiles"] == df1.iloc[i][0]].iloc[0,1]:
		diff += 1
print ("Proportion d'erreur:", diff / len(df1))

Proportion d'erreur: 0.037333333333333336

In [174]:
df1 = pd.read_csv("../pred_2.csv")
df2 = pd.read_csv("../submission 2/pred_2.csv")

df1 = df1.sort_values("smiles")
df2 = df2.sort_values("smiles")

diff = 0
for i in range(len(df1)):
	if df1.iloc[i,1] != df2.iloc[i,1]:
		diff += 1
print ("Proportion d'erreur:", diff / len(df1))

Proportion d'erreur: 0.1192468619246862

In [172]:
df1.head()

                                              smiles  class
0  Cn1nc(NCC(=O)NC2CN(C3CCC(C(=O)O)CC3)C2)c2cc(C(...      0
1  Cn1nc(NCC(=O)NC2CN(C3CCC(O)(c4cncs4)CC3)C2)c2c...      0
2  Cn1cnc(S(=O)(=O)NCCN2CC3CN(CCOc4ccc(C#N)cc4)CC...      0
3  CN(C)c1ccc(C2(O)CCC(N3CC(NC(=O)CNC(=O)c4cccc(C...      0
4  N#Cc1ccc(C2(O)CCC(N3CC(NC(=O)CNC(=O)c4cccc(C(F...      0

In [176]:
df2["series_0"] = [0] * 478

In [175]:
len(df2)

478

In [177]:
df2

                                                smiles  class  series_0
48   C#CC1(O)CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F...      0         0
245  C#CC1CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F)cc...      0         0
429  C=CCOC1CCC(N2CC(NC(=O)CNc3n[nH]c4ccc(C(F)(F)F)...      0         0
408  C=CCOC1CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F)...      0         0
380  C=CCOCC1CCC(N2CC(NC(=O)CNc3nn(C)c4ccc(C(F)(F)F...      1         0
..                                                 ...    ...       ...
290  O=S(=O)(NCCN1CC2CN(CCc3cccc(F)c3)CC(C1)O2)c1cc...      0         0
295  O=S(=O)(NCCN1CC2CN(CCc3ccccc3)CC(C1)O2)c1ccc(F...      0         0
242  O=S(=O)(NCCN1CC2CN(CCc3ccccc3F)CC(C1)O2)c1ccc(...      0         0
267  O=S(=O)(NCCN1CC2CN(Cc3ccc(F)cc3)CC(C1)O2)c1ccc...      0         0
143  O=S(=O)(NCCN1CC2CN(Cc3ccccc3)CC(C1)O2)c1ccc(F)cc1      0         0

[478 rows x 3 columns]